@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: calc((100vw / 1440) * 16);
  box-sizing: border-box;
}

@media (max-width: 768px) {
  html {
    font-size: calc((100vw / 768) * 16);
  }
}

.section-container {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

[data-clip-path] {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.transition-height {
  transition: height 1s ease-out;
  overflow: hidden;
}

.line {
  margin-top: -6px
}

.word {
  vertical-align: text-top;
  /* padding-bottom: 0.5ch;
  margin-bottom: -0.7ch;
  padding-top: 0.4ch;
  margin-top: -0.7ch; */
}